.popular-wrapper {
  display: flex;
  justify-content: center;
}

.popular-container {
  gap: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.popular-head {
  margin-bottom: 2rem;
}

.swiper-horizontal {
  overflow: visible;
}
