.popularWrapper {
  display: flex;
  justify-content: center;
}

.popularContainer {
  gap: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.popularHead {
  margin-bottom: 2rem;
}

.popular-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  margin: auto;
  transition: all 300ms ease-in;
  display: flex;
  flex-direction: column;
  background-color: var(--cardgrey);

  width: 100%;
  max-width: 25rem;
}

.popular-card:hover {
  scale: 1.025;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(91, 91, 91, 0.46) 218%
  );
  box-shadow: 0px 72px 49px -51px rgba(55, 55, 55, 0.21);
}

.swiper-horizontal {
  overflow: visible;
}

.popular-card > div > img {
  width: 100%;
  height: 15rem;
  max-height: 25rem;
  object-fit: cover;
}

.card-text {
  background: #ffffff;
  height: 14rem;
  gap: 0.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  transition: all 300ms ease-in;
  display: flex;
  flex-direction: column;
}

.coffee-name {
  height: 5rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.price-text {
  font-size: 1.1rem;
  font-weight: 600;
}

.description-text {
  font-size: 0.7rem;
  color: var(--lightgrey);
}

.swiper-horizontal {
  overflow: visible;
}

.popular-btns {
  position: absolute;
  gap: 1rem;
  top: -4rem;
  right: 0;
}

.popular-btns button {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.popular-btns > :nth-child(1) {
  background-color: #eeeeff;
}

.popular-btns > :nth-child(2) {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 640px) {
  .popularHead {
    align-items: center;
  }
  .popular-btns {
    position: initial;
  }
}
