.cart-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.cart-card {
  width: 100%;
  max-width: 60rem;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--cardgrey);
}

.cart-card > div > img {
  width: 100%;
  height: 10rem;
  max-height: 22rem;
  object-fit: cover;
}

.cart-text {
  background: #ffffff;
  height: 14rem;
  gap: 0.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.coffee-name {
  height: 5rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.price-text {
  font-size: 1.1rem;
  font-weight: 600;
}

.description-text {
  font-size: 0.6rem;
  color: var(--lightgrey);
}

.button-container {
  /* border: 2px solid green; */
  border-radius: 5px;

  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 640px) {
  .popularHead {
    align-items: center;
  }
  .popular-btns {
    position: initial;
  }
}
