.priceWrapper {
  /* border: 10px solid green; */
  height: 50rem;
  color: var(--darkgrey);
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/Transparent_Pricing.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
}

.priceContainer {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  position: relative;
  color: var(--darkgrey);
}

/* left side */
.price-left {
  /* border: 2px solid red; */
  gap: 3rem;
  width: 45%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.price-title {
  position: relative;
}
.price-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}
.price-description {
  color: var(--mediumgrey);
  margin-bottom: 3rem;
}

/* mobile screens */
@media (max-width: 640px) {
  .priceContainer {
    margin-top: 2rem;
  }
  .price-title > h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .imageConainer {
    width: 95%;
    height: 25rem;
  }
}
