.shop-wrappers {
  /* border: 10px solid green; */
  height: 30rem;
  color: white;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/collaboration.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
}

.shop-container {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white;
}

/* left side */
.shop-left {
  /* border: 2px solid red; */
  gap: 3rem;
  width: 50%;

  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 2rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
  padding: 2rem;
}
.shop-title {
  position: relative;
}
.shop-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
  color: var(--primary);
}
.shop-description {
  color: var(--tertiary);
  margin-top: 1rem;
}

/* mobile query */
@media (max-width: 640px) {
  .shop-container {
    margin-top: 2rem;
  }
  .shop-title > h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
