.inner-container {
  height: 15rem;
  gap: 1.5rem;
  background: var(--primary);
  padding: 2rem;
  border-radius: 10px;
  border: transparent;
  text-align: center;
  color: white;
}

.inner-container .primaryText {
  color: white;
  font-weight: 600;
}

.subscriptionBtn {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  border-radius: 4px;
  transition: all 300ms ease-in;

  background: var(--browngrey);
  border: 2px solid var(--subgrey);
  box-shadow: var(--shadow);
}

.subscriptionBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
