.coffeeto-wrapper {
  /* border: 10px solid green; */
  height: 45rem;
  color: white;
  position: relative;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/coffee_bean.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.coffeeto-container {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white;
}

/* left side */
.coffeeto-left {
  /* border: 2px solid red; */
  gap: 3rem;
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 2rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.coffeeto-title {
  position: relative;
}
.coffeeto-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}
.coffeeto-description {
  color: var(--cardgrey);
  margin-bottom: 3rem;
}

/* mobile query */
@media (max-width: 640px) {
  .coffeeto-container {
    margin-top: 2rem;
  }

  .coffeeto-title > h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .imageConainer {
    width: 95%;
    height: 25rem;
  }
}
