.products-wrapper {
  display: flex;
  justify-content: center;
}

.products-container {
  gap: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.products-head {
  margin-bottom: 2rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.load-more-button {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .products-head {
    align-items: center;
  }
  .load-more-button {
    position: initial;
  }
}
