.construction-wrapper {
  /* border: 10px solid green; */
  height: 42rem;
  color: white;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/under_development.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
}

.construction-container {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  color: white;
}

.construction-title {
  position: relative;
}
.construction-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}
.construction-description > p {
  color: var(--subgrey);
  margin-top: 1rem;
}

/* mobile query */
@media (max-width: 640px) {
  .coffeetoContainer {
    margin-top: 2rem;
  }
  .coffeeto-title > h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .imageConainer {
    width: 95%;
    height: 25rem;
  }
  .stats {
    justify-content: center;
    gap: 1.5rem;
    font-weight: wrap;
  }
  .stat > :nth-child(1) {
    font-size: 1.5rem;
  }
  .stat > :nth-child(2) {
    font-size: 0.8rem;
  }
}
