.coffee-finder {
  height: 3.5rem;
  width: 35rem;
  background-color: var(--white);
  border-radius: 5px;
  border: 4px solid var(--cardgrey);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-bar-shop {
  height: 2rem;
  width: 26rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--white);
  border: none;
}

.search-bar-shop > input {
  border: none;
  outline: none;
}

.submit-key-button {
  width: 6rem;
  font-weight: 500;
  padding: 0.6rem 0.6rem;
  color: white;
  background: var(--orange);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
  font-size: 1rem;
}
.submit-key-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
